<div>
  <div>
    <h1>
      <%= @the_duet.creator.username %>'s Duet for  <%= @the_duet.song.band %>'s "<%= @the_duet.song.name %>"
    </h1>

    <table>
      <tr>
        <td>
          Bandmate
        </td>
        <td> 
          Instrument
        </td>
        <td>
          Open
        </td>
        <td>
        <td>
      </tr>
      <% @the_duet.members.each do |a_member| %>
      <tr>
        <% if a_member.bandmate_id != 3%>
        <td><%=a_member.bandmate.username%></td>
        <% else %>
        <td> Nobody!</td>
        <% end %>
        <td><%=a_member.instrument.instrument_name%></td>
        <td><%=a_member.open%></td>
        <% if a_member.bandmate_id == 3%>
         <td><form action="/insert_request" method="post">
            <input type="hidden"  name="query_requestor_id" value="<%= @current_user.id%>">
            <input type="hidden" name="query_group_id" value="<%= a_member.id %>">
            <input type="hidden" name="query_instrument_id" value="<%= a_member.instrument.id %>">
            <input type="hidden" name="query_status" value="pending">
        <button>
         Ask to Jam!
        </button>
         </form></td>
        <% end %>
      </tr>
      <% end %>
    </table>

    <div>
      <div>
        <a href="/duets">
          Go back
        </a>
      </div>
      
      <% if @current_user.id == @the_duet.creator.id %>
      <div>
        <a href="/delete_duet/<%= @the_duet.id %>">
          Delete duet
        </a>
      </div>
      <% end %>
    </div>


  </div>
</div>

<hr>


<div>
  <div>
    <% if @current_user.id == @the_duet.creator.id %>
    <h2>
      Edit duet
    </h2>

    <form action="/modify_duet/<%= @the_duet.id %>"  method="post" >
      <div>
        <input type="hidden" id="creator_id_box" name="query_creator_id" value="<%= @the_duet.creator_id %>">
      </div>
      <div>
        <input type="hidden" id="song_id_box" name="query_song_id" value="<%= @the_duet.song_id %>">
      </div>
      <div>
        <input type="checkbox" id="private_box" name="query_private" value="1" <%= "checked" if @the_duet.private %>>

        <label for="private_box">
            Private
        </label>
      </div>

      <div>
        <input type="checkbox" id="looking_box" name="query_looking" value="1" <%= "checked" if @the_duet.looking %>>

        <label for="looking_box">
            Looking
        </label>
      </div>

      <button>
        Update duet
      </button>
    </form>
  </div>
  <% end %>
</div>

<hr>
