<h1> Configuration Page for Duet <%=@the_duet.id %> slam </h1>


<div>
  <div>
    <h2>
      Add <%=@number_bandmates%> New Members for your Duet
    </h2>

    <form action="/insert_member" method="post">
      <% @number_bandmates.times do |an_index| %>
      <div>
        <input type="hidden" id="bandmate_id_box" name="query_bandmate_id" value="1">
      </div>

      <div>
        <input type="hidden" id="duet_id_box" name="query_duet_id" value="1">
      </div>
    
      <div>
        <div>
        <label for="instrument_id_box">
          Instrument
        </label>
        <select name="query_instrument_id" id="instrument_id_box">
          <% Instrument.all.each do |a_instrument| %>
            <option value="<%=a_instrument.id%>"><%= a_instrument.instrument_name %></option>
          <% end %>
        </select>
         </div>
      </div>
      <div>
        <input type="hidden" id="open_box" name="query_open" value="1">
      </div>
      <% end %>
      <button>
        Create members
      </button>
    
    </form>
  </div>
</div>
<a href="/delete_duet/<%=@the_duet.id%>"> Cancel Duet Creation </a>