<div>
  <div>
    <h1>
      List of all members
    </h1>
  </div>
</div>

<hr>



<hr>
<div>
  <div>
    <table>
      <tr>
        <th>
          Bandmate
        </th>

        <th>
          Duet
        </th>

        <th>
          instrument
        </th>

        <th>
          Open
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_members.each do |a_member| %>
      <tr>

        <td>
          <%= a_member.bandmate.username%>
        </td>

        <td>
          <%= a_member.duet_id %>
        </td>

        <td>
          <%= a_member.instrument_id %>
        </td>

        <td>
          <%= a_member.open %>
        </td>

        <td>
          <%= time_ago_in_words(a_member.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_member.updated_at) %> ago
        </td>

        <td>
          <a href="/members/<%= a_member.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
